<h3>Comments:</h3>
<div class="comments">
  <div class="comment header">
    <div>User</div>
    <div>Comment</div>
  </div>
  <%= for comment <- @comments do %>
  <div class="comment">
    <div><%= comment.content%></div>
  </div>

  <% end %>
</div>
