<h3>Comments:</h3>
<div class="comments">
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <%= for comment <- @comments do %>
    <tr>
      <% user = MovieReviewsWeb.Tools.get_username(comment.user_id) %>
      <td><%= user %></td>
      <td><%= comment.content%></td>
    </tr>
  <% end %>
</div>
