<h1>Películas por género</h1>

<div class="movies">
  <%= for movie <- @movies do %>
    <div class="movie">
      <h3><%= movie["title"] %></h3>
      <p><%= movie["overview"] %></p>
      <p>Fecha de lanzamiento: <%= movie["release_date"] %></p>
      <img src="<%= movie["poster_url"] %>" alt="Poster de la película">
    </div>
  <% end %>
</div>
