<%= form_for @changeset, @action, fn f -> %>
  <div class="form-group">
    <label>Score</label>
    <%= select f, :rating, 1..10, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Content</label>
    <%= textarea f, :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= submit "Add review", class: "btn btn-primary" %>
  </div>
<% end %>